@using PROG7311_ST10263164.ViewModels;
@model CreateUserViewModel;
@{
    ViewData["Title"] = "Create User Page";
}

<body>
    <div class="logincardbox">
        <div class="logincard">
            
        </div>
    </div>
</body>
