@using PROG7311_ST10263164.ViewModels
@model PROG7311_ST10263164.ViewModels.DateViewModel
@{
    ViewData["Title"] = "Date Range Page";
}
<body>
    <div class="marketbox">
        <div class="card">
            <form asp-action="FilterDateRange" asp-controller="Market" method="post">
                <h3>Filter by date</h3>
                <div>
                    <p>From this Date</p>
                    <input asp-for="ProductDateFrom" type="date" class="form-label" />
                    <span asp-validation-for="ProductDateFrom" class="text-danger"></span>
                </div>
                <div>
                    <p>Till this Date</p>
                    <input asp-for="ProductDateTill" type="date" class="form-label" />
                    <span asp-validation-for="ProductDateTill" class="text-danger"></span>
                </div>
                <button type="submit">Search</button>
            </form>
        </div>       
    </div>
    <div class="marketbox">
        <div class="marketcardbox">
            <!--this div holds and arranges market cards which are store items-->
            @if (Model.ProductList != null)
            {
                @foreach (var product in Model.ProductList)
                {
                    <div class="marketcard">
                        <h4>@product.ProductName</h4>
                        <hr>
                        <p>@product.Category</p>
                        <p>@product.ProductDate</p>
                        <p>@product.ProductDescription</p>
                    </div>
                }
            }
        </div>
    </div>
</body>