@{
    ViewData["Title"] = "Market Page";
}

<body>

    <div class="marketbox">

        <div class="filtercardbox">
            <!--this div holds filter card-->

            <div class="filtercard">
                <!--this div is filter card, it is the white block that holders filter options-->

                <h2>Filter Options</h2>
                <p></p>
                <p></p>

                <hr></hr>
                <h4>Power</h4>
                <hr></hr>
                <p>Solar</p>
                <p>Wind</p>
                <p>Hydro</p>
                <p></p>

                <hr></hr>
                <h4>Irrigation</h4>
                <hr></hr>
                <p>Sprinklers</p>
                <p>Drip hose pipe</p>
                <p>Dripper tips</p>
                <p></p>

                <hr></hr>
                <h4>Fertilizer</h4>
                <hr></hr>
                <p>Bags</p>
                <p>Bottles</p>
                <p></p>

                <hr></hr>
                <h4>Nutrients</h4>
                <hr></hr>
                <p>Bags</p>
                <p>Bottles</p>
                <p></p>

                <h4>PH control</h4>
                <hr></hr>
                <p>Measuring Equipment</p>
                <p>PH adjusters</p>
                <p></p>

            </div>

        </div>

        <div class="marketcardbox">
            <!--this div holds and arranges market cards which are store items-->
            <!--ADD LOOP OF DATABASE ITEMS-->

            <div class="marketcard">
                <!--these are the store items/market cards-->
                <img src="~/img/fertilizer.jpg" alt="fertilizer" class="img-fluid">
                <hr></hr>
                <h4>Fertilzer combo</h4>
                <p><a href="market/Supplier.html">AgriMart</a></p>
                <h5>R240.00</h5>
            </div>

        </div>

    </div>

</body>
