@using PROG7311_ST10263164.ViewModels;
@model ProductsViewModel;
@{
    ViewData["Title"] = "Market Page";
}

<body>

    <div class="marketbox">

        <div class="filtercardbox">
            <!--this div holds filter card-->

            <div class="filtercard">
                <!--this div is filter card, it is the white block that holders filter options-->

                <h2>Filter Options</h2>
                <p></p>
                <p></p>

                <hr></hr>
                <h4>Power</h4>
                <hr></hr>
                <p>Solar</p>
                <p>Wind</p>
                <p>Hydro</p>
                <p></p>

                <hr></hr>
                <h4>Irrigation</h4>
                <hr></hr>
                <p>Sprinklers</p>
                <p>Drip hose pipe</p>
                <p>Dripper tips</p>
                <p></p>

                <hr></hr>
                <h4>Fertilizer</h4>
                <hr></hr>
                <p>Bags</p>
                <p>Bottles</p>
                <p></p>

                <hr></hr>
                <h4>Nutrients</h4>
                <hr></hr>
                <p>Bags</p>
                <p>Bottles</p>
                <p></p>

                <h4>PH control</h4>
                <hr></hr>
                <p>Measuring Equipment</p>
                <p>PH adjusters</p>
                <p></p>

            </div>

        </div>

        <div class="marketcardbox">                       <!--this div holds and arranges market cards which are store items-->
            @foreach (var product in Model.ProductList)
            {
                <div class="marketcard">                   <!--these are the store items/market cards-->
                    <h4>@product.ProductName</h4>
                    <hr>
                    <p>@product.Category</p>
                    <p>@product.ProductDate</p>
                    <p>@product.ProductDescription</p>
                </div>
            }
        </div>

    </div>

</body>
