@{
    ViewData["Title"] = "Home Page";
}

<body>

    <div class="cardbox">

        <div class="card">
            <h1>Welcome to Agri-Energy Connect</h1>
            <h3>Innovators In All Things Green</h3>
        </div>

        <div class="card">
            <h2>Our Site's features</h2>
            <p>We have offer a marketplace with a wide variety of green solutions, an educational center for learning the fundamentals and more advanced details of green agriculture, a sustainable farming forum for users and experts to ask and answer any questions related to agriculure and lastly a collaboration and funding feature where you can create and respond to other users' posts</p>
        </div>

    </div>

</body>
